################################################################################
# Ignore all files in the Output folder, but keep the folder itself
################################################################################
Output/Summary/*
!Output/Summary/.gitkeep
